/* driver.js */
.my-driver {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.my-driver #name-label {
display: block;
}

.driver-popover {
padding: 16px !important;
}

.driver-popover-title[style*='block'] + .driver-popover-description {
margin-top: 16px !important;
font-size: 16px;
font-style: normal;
font-family: var(--font-noto-sans-kr);
font-weight: 400;
line-height: 140%;
word-break: keep-all;
}

.driver-popover-progress-text {
display: none !important;
}

.driver-popover-footer button {
padding: 10px 16px !important;
font-family: var(--font-noto-sans-kr);
}

.driver-popover-prev-btn,
.driver-popover-next-btn {
border: none !important;
border-radius: 4px !important;
font-size: 14px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 140% !important;
text-transform: capitalize !important;
}

.driver-popover-next-btn {
background-color: #217bbb !important;
text-shadow: none !important;
color: white !important;
}
