/** monaco-editor */
.monaco-editor {
  padding: '20px',
}

/** react-editor */
.quill {
    color: inherit;
  }
  
.ql-toolbar {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ql-container {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ql-editor {
  overflow-y: scroll;
  color: inherit;
  min-height: 80px;
  resize: vertical;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid #f1f1f1 !important;
}