/* Livekit Customization */
.prep .lk-room-container {
    background-color: #f1f1f1 !important;
  }

.lk-room-container {
background-color: #383c41 !important;
}

.lk-participant-tile {
border-radius: inherit !important;
}

